@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";

$body-font: "Italiana", sans-serif;
$spec-font: "Italianno", sans-serif;
$body-font-color: #bbbbbb;
$spec-font-color: #ffffff;
$span-font-color: #c10232;
$link-font-color: #edab0d;
$background-img: url("./assets/Design-background.png");



@keyframes link {
  from {
    color: $link-font-color;
  }
  to {
    color: #ffffff;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75%{
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flick {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideinP1 {
  from {
    margin-left: -100%;
    width: 80%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes slideinP2 {
  from {
    margin-left: -100%;
    width: 80%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}


.hero {
  color:$spec-font-color;
  font-family: $body-font;
  background-size: cover;

  .col-md p{
    color: $body-font-color;
  }
  .hero-flick{
    color: $span-font-color;
    animation: flick 1s infinite;
  }
  .link {
    display: flex;
    justify-content: left;
    color: $link-font-color;
    text-decoration: none;
    margin-top: 10rem;
  }
  .link:Hover {
    animation: link 0.3s linear;
    animation-fill-mode: forwards;
  }

  .title {
    font-family: $spec-font;
  }


  .p1 {
    animation: slideinP1 1s linear;
  }
  .p2 {
    animation: slideinP2 2s linear;
  }
  .py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
  .py-sm-5{
    padding-top: 17rem!important;
    padding-bottom: 17rem!important;
  }
  .py-md-5{
    padding-top: 17rem!important;
    padding-bottom: 17rem!important;
  }
  .fs-2 {
    font-size: 3rem!important;
    animation: slideinT 1.5s linear;
  }
  .fs-4 {
    color: $body-font-color;
  }
  .fs-5 {
    font-size: 1.5rem!important;
  }
  .fs-1{
    font-size: 16rem!important;
  }
  .title {
    animation: fade 3s linear;
    line-height: 66%;
    transform: rotate(-25deg);
  }
}

@media (max-width: 767px){
  .hero .py-md-5{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
  .hero .link  {
    margin-top: 2rem;
    justify-content: center;
  }
  .hero .fs-1 {
    font-size: 5rem!important;
  }
}
@media (max-width: 991px){
  .hero .py-md-5{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
  .hero .link  {
    margin-top: 2rem;
    justify-content: center;
  }
  .hero .fs-1{
    font-size: 10rem!important;
    margin-bottom: 3rem;
  }
}