@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(-30px);}
	60% {transform: translateX(-15px);}
}

.sidebar {
  right: 2rem;
  bottom: 3rem;
  width: 3rem;
  transform: rotate(-90deg);
  position: fixed;
  .sidebar-content {
    width: 5rem;
  }
  a {
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    width: 35px;
    height: 10px;
  }
  a:hover {
    cursor: pointer;
    color: #c10232;
  }
}
.sidebar-content{
  animation: bounce2 10s infinite;
}
