@import "node_modules/bootstrap/scss/bootstrap";

$background-img: url("./assets/BasicTree-background.png");
$body-font-color: #bbbbbb;
$spec-font-color: #ffffff;
$body-font: "Italiana", sans-serif;
$spec-font: "Italianno", sans-serif;

@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes sizeP {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
    z-index: 2;
  }
}

@keyframes jump {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: -5%;
  }
}

.tree {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9 {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
  .img11,
  .img12,
  .img13,
  .img14 {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }

  .img11:hover,
  .img12:hover,
  .img13:hover,
  .img14:hover {
    animation: bounce-5 1s ease;
    cursor: pointer;
  }

  .img1:hover,
  .img2:hover,
  .img3:hover,
  .img4:hover,
  .img5:hover,
  .img6:hover,
  .img7:hover,
  .img8:hover,
  .img9:hover {
    animation: bounce-5 1s ease;
  }

  .img-div {
    width: 6rem;
    height: 7rem;
    display: inline-block;
    margin: 2rem;
    padding: 0;
    font-family: $spec-font;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .cont-div {
    width: 6rem;
    height: 7rem;
    display: inline-block;
    margin: 2rem;
    padding: 0;
    font-family: $spec-font;
    color: #ffffff;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .fs-2 {
    font-size: 3rem !important;
    color: $spec-font-color;
    font-family: $body-font;
  }
  .fs-3 {
    font-size: 2rem !important;
    color: $spec-font-color;
    font-family: $body-font;
  }
  .fs-4 {
    color: $body-font-color;
    font-family: $body-font;
  }
  .img-cont {
    background-color: #55555528;
    border-radius: 20px;
  }
}


@media (max-width: 992px) {
  .tree .fs-4 {
    font-size: 2rem !important;
    padding: 0rem 5rem;
  }
  .tree .fs-3 {
    font-size: 1rem !important;
    color: $spec-font-color;
    font-family: $body-font;
  }
  
  .tree .fs-2 {
    font-size: 3rem !important;
    padding-top: 1rem;
  }
  .link-tab {
    margin-top: 0;
  }
}

@media (max-width: 1188px) {
  .text-center .fs-4 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .text-center .fs-2 {
    font-size: 2rem !important;
    padding-top: 1rem;
  }
  .about .fs-2 {
    font-size: 2rem !important;
    padding-top: 1rem;
  }
  .about .fs-4 {
    font-size: 1.5rem !important;
  }
}
