/* width */
::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
}
body {
background-color: #212121;
cursor: default;

}
.hero-vid {
    object-fit: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    filter: grayscale(100%) blur(4px);
    height: 100%;
    transform: scale(1.03);
}