/* width */
::-webkit-scrollbar {
    display: none;
}
body {
background-color: #212121;
cursor: default;
}
.hero-vid {
    object-fit: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    filter: grayscale(80%);
    filter: contrast(1.2);
    height: 100%;
}